body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(34, 193, 58, 0.46);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #28a745;
}

.input-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;

}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0b0b0be7;
    border-radius: 5px;

   
}
#task-input:focus{
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);

}


#add-task-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.task-item button:hover {
    background-color: #c82333;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b63340d1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    animation: 1s ease-in forwards;
}

.notification.visible {
    display: block;
}

.hidden {
    display: none;
}

#task-time {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #070707;
    border-radius: 5px;
    margin-left: 10px;
    color: #333;
    background-color: #a3258c2e;
    flex: 1;
}

#task-time::placeholder {
    color: #33aab2a8;
}

#task-time:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

